<%- include('../../partials/htmlStructure/head.ejs') -%>
<%-include('../../partials/navbar.ejs') -%>

  <div id='winner-modal' class="modal">
    <div class="modal-background"></div>
    <article class="message is-large modal-content">
  <div id='winner-modal-content' class="message-body">
  </div>
</article>
  </div>
<div class="columns playingCards fourColours rotateHand">
  <div class="column is-one-fifth" id="users-list-container">
    <div>GameID: <%= game.id%></div>
    <div id="game_pot" data-it="<%=game.game_pot%>">
      Game Pot: <%= game.game_pot%>
    </div>
    <div id="min_bet" data-it="<%=game.min_bet%>">
      Min Bet: <%= game.min_bet%>
    </div>
    <div id="curr_turn" data-it="<%=game.curr_game_player_id%>">
      Current player turn: <%= game.curr_game_player_id%>
    </div>
    <div id="game_round" data-it="<%=game.game_round%>">
      Game Round: <%= game.game_round%>
    </div>
    <br />
    <div>IDDeck: <%= game.id_deck%></div>
    <div>Gameplayer info and card info.</div>
  </div>
  <div
    id="game"
    data-it="<%=game.id%>"
    gameround="<%=game.game_round%>"
    class="column is-flex is-flex-direction-column is-two-thirds"
  >
    <div id="community-cards">
      COMMUNITY CARDS <%if(community.length!==0){%> 
      <%community.forEach((card)=> {%>

      <div class="card rank-<%=card.value%> <%=card.suit%>">
        <span class="rank"><%=card.value%></span>
        <span class="suit">&<%=card.suit%>;</span>
      </div>
      <%})}%>
    </div>
    <br />
    <br />
    <div id="players">
      <%players.forEach((player)=>{%>
      <div id="<%= player.gpid%>" class="is-flex is-flex-direction-column">
        <div id="<%=player.gpid%>info">
          <p>Money: <%= player.money%></p>
          <p><%= player.username%></p>
        </div>
        <% if(player.id === user.id){%>
        <ul class="table">
          <li id="card-hand<%=player.gpid%>">
            <% if(game.game_round >=1 && !player.player_folded){%>
            <div
              class="card rank-<%= yourCards.translatedCard1.value%> <%= yourCards.translatedCard1.suit%>"
            >
              <span class="rank"><%= yourCards.translatedCard1.value%></span>
              <span class="suit">&<%= yourCards.translatedCard1.suit%>;</span>
            </div>
            <div
              class="card rank-<%= yourCards.translatedCard2.value%> <%= yourCards.translatedCard2.suit%>"
            >
              <span class="rank"><%= yourCards.translatedCard2.value%></span>
              <span class="suit">&<%= yourCards.translatedCard2.suit%>;</span>
            </div>
            <%}%>
          </li>
        </ul>
        <div class="columns m-0 p-0">
          <div class="field column p-0 m-0 is-2">
            <div class="control has-icons-left has-icons-right">
              <input
                id="action-amount"
                class="input is-small"
                type="number"
                type="number"
                min=<%=game.min_bet%>
                step="any"
                value="<%=game.min_bet + 1%>"
              />
              <span class="icon is-left">
                <i class="fas fa-dollar-sign"></i>
              </span>
            </div>
          </div>
        </div>
        <div id="user-action-buttons" class="field has-addons">
          <p class="control">
            <button name="fold" class="action-button button m-0">Fold</button>
          </p>
          <p class="control">
            <button name="reset" class="action-button button m-0">Reset</button>
          </p>
        </div>
        <div class="field has-addons">
          <p class="control">
            <button name="leave" class="action-button button m-0">
              Leave Game
            </button>
          </p>
        </div>
        <div id="error-field">
          <p id="error"></p>
        </div>
      </div>
      <%}else{%>
      <ul class="table">
        <li class="card-hand<%=player.gpidid%>">
          <div class="card back">*</div>
          <div class="card back">*</div>
        </li>
      </ul>
    </div>
    <%}})%>
  </div>
</div>
<div>
  <div class="column"></div>
</div>

<%- include('../../partials/chat.ejs') -%> <%-
include('../../partials/htmlStructure/gameFoot.ejs') -%>
