<%- include('../../partials/htmlStructure/head.ejs') -%> <%-
include('../../partials/navbar.ejs') -%>
<link rel="stylesheet" type="text/css" href="/css/cards.css" />

<div class="columns">
  <div class="column" id="users-list-container">
    <p>Username: <%= user.username%></p>
    <p>UserID: <%= user.id%></p>
    <br />
    <p>GameID: <%= game.id%></p>
    <p>Game Pot: <%= game.game_pot%></p>
    <p>MinBet: <%= game.min_bet%></p>
    <p>Action on player: <%= game.curr_game_player_id%></p>
    <p>Game Round: <%= game.game_round%></p>
    <br />
    <p>IDDeck: <%= game.id_deck%></p>
    <p>Gameplayer info and card info.</p>
  </div>
  <div
    id="game"
    data-it="<%=game.id%>"
    class="column is-flex is-flex-direction-column is-two-thirds"
  >
    <!-- Body of game goes here -->
    <!-- <div id="dealer-cards" class="hand"> -->
    <!-- <div class="game-card ace spade"></div> -->
    <!-- <div class="game-card king club"></div> -->
    <!-- <div class="game-card eight heart"></div> -->
    <!-- <div class="game-card queen diamond"></div> -->
    <!-- <div class="game-card jack spade"></div> -->
    <!-- </div> -->
    <%players.forEach((player)=>{%>
    <p><%= player.username%></p>  
    <p>Money: <%= player.money%></p>
    <% if(player.id === user.id){%>
    <div class="columns m-0 p-0">
      <div class="field column p-0 m-0 is-2">
        <div class="control has-icons-left has-icons-right">
          <input id="action-amount" class="input is-small " type="number" type="number" min="1"
          step="any" value=<%=parseInt(player.money)/2%>>
          <span class="icon is-left">
            <i class="fas fa-dollar-sign"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="field has-addons">
      <p class="control">
        <button name="call" class="action-button button m-0">Call</button>
      </p>
      <p class="control">
        <button name="bet" class="action-button button m-0">Bet</button>
      </p>
      <p class="control">
        <button name="fold" class="action-button button m-0">Fold</button>
      </p>
    </div>
    <div class="field has-addons">
      <p class="control">
        <button name="leave" class="action-button button m-0">Leave Game</button>
      </p>
    </div>
    <%}})%>
  </div>
  <div class="column"></div>
</div>

<%- include('../../partials/chat.ejs') -%> <%-
include('../../partials/htmlStructure/gameFoot.ejs') -%>

<!-- <table class="table is-striped" id="users-list">
      <tr>
        <td>Each user</td>
        <td>SML BLIND</td>
      </tr>
      <tr>
        <td>In game</td>
        <td>BIG BLIND</td>
      </tr>
      <tr>
        <td>Will go here</td>
      </tr>
    </table> -->