<%- include('../../partials/htmlStructure/head.ejs') -%> <%-
include('../../partials/navbar.ejs') -%>
<link rel="stylesheet" type="text/css" href="/css/custom-home.css" />
<div id="loader-wrapper">
  <div class="container">
    <button id="exit-loading" class="button is-hidden is-large is-fullwidth">
      Go back
    </button>
  </div>
</div>
<section class="container">
  <div class="columns is-multiline">
    <div class="column is-8 is-offset-2 register">
      <div class="columns">
        <div class="column left registration-left">
          <h1 class="title is-1">Welcome back <%= user.username%>!</h1>
          <h2 class="subtitle colored is-4">
            You currently have $<%= user.money %>
          </h2>
          <% if(games.length !== 0){%>
          <h3 class="is-6">You're already in these games. Click to join</h3>
          <div class="game-holder">
            <%games.forEach((game)=>{%>

            <div
              class="columns is-align-content-space-between is-vcentered p-0"
            >
              <div class="column">
                <p class="is-6">Game #<%=game.id%>:</p>
              </div>
              <div class="column level-right">
                <button
                  data-it="<%=game.id%>"
                  class="join-existing-game m-0 level-item button is-primary"
                >
                  Join
                </button>
              </div>
            </div>
            <%})%> <%}%>
          </div>
        </div>
        <div class="column right has-text-centered registration-right">
          <div class="field">
            <label class="label left">Enter your buy in</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-medium" type="number" type="number" min="1"
              step="any" value=<%=parseInt(user.money)/2%>>
              <span class="icon is-left">
                <i class="fas fa-dollar-sign"></i>
              </span>
            </div>
          </div>
          <button
            id="quick-play"
            class="button is-primary is-large is-fullwidth"
          >
            Quick Play
          </button>
        </div>
      </div>
    </div>
    <%- include('../../partials/chat.ejs') -%> <%-
    include('../../partials/htmlStructure/foot.ejs') -%>
  </div>
</section>
